/********* Base styles *********/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", "Serif";
}


.food-item, #categories, #title {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
}

.food-description {
    clear: both;
    /* position: relative;
    top: 32px; */
    margin: 55px 10px 10px 10px;
    /* background-color: red; */
    height: 100px;
    overflow-y: auto;
}

.food-item {
    border: 1px solid black;
    position: relative;
    background-color: lightgray;
    box-sizing: border-box;
}

.food-description:hover {
    cursor: s-resize;
    overflow-y: scroll;
}

.food-name {
    /* Border */
    border: 1px solid black;
    border-right: 0px;
    border-top: 0px;

    float: right;
    padding: 0px 30px 0px 30px;

    /* Positioning */
    /* position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 30px 0px 30px; */
}

#title {
    text-align: center;
}

#categories {
    text-align: left;
    display: None;
    font-family: 'Courier New', Courier, monospace;
}

#chicken, #alt-chicken {
    background-color: pink;
}

#beef, #alt-beef {
    background-color: cadetblue;
    color: white;
}

#sushi, #alt-sushi {
    background-color: antiquewhite;
}

#alt-chicken, #alt-beef, #alt-sushi {
    display: None;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
        /* border: 1px solid green; */
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        /* border: 1px solid green; */
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/********** Small devices only **********/
@media (max-width: 767px) {
    #title {
        display: None;
    }
    #categories {
        display: block;
    }

    #chicken, #beef, #sushi {
        display: None;
    }

    .food-name {
        border-left: 0px;
        text-align: center;
        width: 100%;
    }

    #alt-chicken, #alt-beef, #alt-sushi {
        display: block;
    }
}